.row {
    height: 75px;
    width: 100%;
}

.cell {
    padding: 0px;
    width: 12.5%;
    border: 1px solid black;
    height: 100%;
    display: inline;
}

.piece {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.B {
    background-color: black;
}

.W {
    background-color: blue;
}

.sidebar {
    display: inline;
}

#score_white {
    border-radius: 10px;
    border: 1px solid black;
}

#score_black {
    border-radius: 10px;
    border: 1px solid black;
}

.alerts {
    margin-top: 2em;
    border: 1px solid red;
    border-radius: 10px;
    padding-left: 2em;
}

.table td {
   text-align: center;  
}

h1,h2,h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#highlight_moves {
    margin-top: 1em;
}

.possible {
    height: 100%;
    width: 100%;
    border: 2px solid green;
    border-radius: 100%;

}