.row {
    height: 75px;
    width: 100%;
}

.cell {
    padding: 0px;
    width: 12.5%;
    border: 1px solid black;
    height: 100%;
    display: inline;
}

.piece {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.B {
    background-color: black;
}

.W {
    background-color: blue;
}

.sidebar {
    display: inline;
    height: 600px;
}

.scores {
    border-radius: 10px;
    border: 1px solid black;
}

.alerts {
    margin-top: 10em;
    border: 1px solid red;
    border-radius: 10px;
    padding-left: 2em;
}

.table td {
   text-align: center;  
}

h1,h2,h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#highlight_moves {
    margin-top: 1em;
}

.possible {
    height: 100%;
    width: 100%;
    border: 2px solid green;
    border-radius: 100%;

}

.reset {
    position: absolute;
    bottom: 0;
    left: 1em;
    display: inline;
}

.game_over {
    text-align: center;
    position: absolute;
    left: -39em;
    top: 150px;
    display: inline;
    height: 300px;
    width: 400px;
    padding: 2em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
}

.final_score_table {
    margin: auto;
}

.score_buttons {
    position: absolute;
    bottom: 3em;
}

#save {
    margin-left: 3em;
}

#okay {
    margin-left: 2.5em;
}

#end_contents {
    opacity: 1.0;
}