{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/gameboard.css' %}"> 
{% endblock %}

{% block content %}
{% csrf_token %}
<div class='container'>
   <h1>Othello</h1>
   <div class='board col-md-8'></div>
   <div class='alerts col-md-1'></div>
</div>
{% endblock %}

{% block footer %}
<hr>
<div class='container'>
   <h3>Thanks for playing</h3>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/gameboard.js' %}"></script>
{% endblock %}

