{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/gameboard.css' %}"> 
{% endblock %}

{% block content %}
{% csrf_token %}
<div class='container'>
   <h1>Othello</h1>
   <div class='board col-md-7'></div>
   <div class='sidebar col-md-4'>
      <div class='score'>
         <table>
               <tr id='score_white' class='col-md-8'></tr>
               <tr id='score_black' class='col-md-8'></tr>
         </table>
      </div>
      <div>
         <button id='highlight_moves' class="btn btn-large col-md-8 btn-success"><h3>Show Moves</h3></button>
      </div>
      <div class='alerts'>
         <h1 id='illegal'>You cannot move there</h1>
      </div>
      <div class='menu'></div>
   </div>
</div>
{% endblock %}

{% block footer %}
<hr>
<div class='container'>
   <h3>Thanks for playing</h3>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/gameboard.js' %}"></script>
{% endblock %}

